.black{                                                           /*Added 2 colors for the like buttons which change on clicking*/
    color:none;
    cursor: pointer;
}

.red{
    color: red;
    cursor: pointer;
}