
input {
    background-color: white;
    text-align: center;
}

.flex-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.flex-container>div{
    margin: 16px;
}

.btn{
    padding:14px;
    background-color: whitesmoke;
    border: white;
    font-weight: bold;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   /*Added box shadows for visual appeal*/
    border-radius: 5px;                              /*Added border radius to button to make it curvy and visually appealing*/
}

.btn:hover{
    cursor: pointer;
}

.dispNone{                                            /*Classname used to change the state of the greetings and error messages*/
    display: none;
}

.dipsBlock{                                            /*Classname used to change the state of the greetings and error messages*/ 
    display: block;
}




